/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .glass-panel-xl {
            width: 1300px;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -650px;
            margin-right: -650px;
        }

        .glass-panel-lg {
            width: 850px;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -425px;
            margin-right: -425px;
        }

        .glass-panel-md {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .glass-panel-sm {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .full-width {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .full-width-left-xl {
            margin-left: calc(50% - 448px);
            margin-right: calc(50% - 448px);
        }

        .full-width-left-lg {
            margin-left: calc(50% - 338px);
        }

        .full-width-left-md {
            margin-left: calc(50% - 270px);
        }

        .full-width-left-sm {
            margin-left: calc(50% - 160px);
        }

        .kn-rtl {
            direction: rtl;
            text-align: right;
        }

        .kn-ltr {
            direction: ltr !important;
            text-align: left !important;
        }

        .x1 {
            position: relative;
            flex: 0 0 100%;
            margin-right: 0px;
        }

        .x2 {
            position: relative;
            flex: 0 0 50%;
            margin-right: 0px;
        }
        .x3 {
            position: relative;
            flex: 0 0 33.33%;
            margin-right: 0px;
        }
        .x4 {
            position: relative;
            flex: 0 0 25%;
            margin-right: 0px;
        }

        .x5 {
            position: relative;
            flex: 0 0 20%;
            margin-right: 0px;
        }

        .x6 {
            position: relative;
            flex: 0 0 16.67%;
            margin-right: 0px;
        }

        .x7 {
            position: relative;
            flex: 0 0 14.2%;
            margin-right: 0px;
        }
    }

    .z-100 {
        z-index: 100;
    }

    .z-200 {
        z-index: 200;
    }

    .z-1000 {
        z-index: 1000;
    }

    .ckeditor h1 {
        color: #34d399;
        font-weight: 600;
        font-size: 2rem !important;
        margin-bottom: 1rem;
    }

    .ckeditor h2 {
        color: #10b981 !important;
        font-weight: 700 !important;
        font-size: 1.5rem !important;
        margin-bottom: 0.85rem !important;
    }

    .ckeditor h3 {
        color: #2563eb !important;
        font-weight: 600 !important;
        font-size: 1.2rem !important;
        margin-bottom: 0.65rem !important;
    }

    .ckeditor h4 {
        color: #2563eb !important;
        font-weight: 600 !important;
        font-size: 1rem !important;
        margin-bottom: 0.65rem !important;
    }

    .ckeditor p {
        font-size: 0.85rem !important;
        margin-bottom: 0.75rem !important;
    }

    .ckeditor ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .ckeditor ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .ckeditor li {
        font-size: 0.85rem !important;
        margin-bottom: 0.75rem;
        display: list-item;
    }

    .ckeditor a {
        color: #059669;
        font-weight: 500;
    }
    .ckeditor a:hover {
        text-decoration: underline;
    }

    .ckeditor blockquote {
        color: underline;
        background-color: #d1fae5;
        border-radius: 10px;
        padding: 1rem 2rem 1rem 6rem;
        margin-top: 1.5rem;
        position: relative;
    }

    .ckeditor blockquote::before {
        position: absolute;
        content: 'Note';
        font-style: italic;
        font-weight: 700;
        font-size: 0.85rem;
        top: 1rem;
        left: 1rem;
        padding: 4px 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6ee7b7;
        color: #047857;
        border-radius: 100px;
    }

    .ckeditor blockquote p {
        margin-bottom: 0;
    }
    .ckeditor table {
        font-size: 0.75rem;
        width: 100%;
        display: table;
        text-indent: initial;
    }
    .ckeditor table tr:nth-child(even) {
        background: #e5e7eb;
    }

    .ckeditor table td {
        padding: 1rem;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #fcfcfc;
}
